# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Ignore nps and npc binary files
nps
npc

# Ignore log files
*.log

# Ignore nohup output
nohup.out

# Ignore local configuration files
/conf/*.conf
!/conf/nps.conf
!/conf/npc.conf

# Ignore IDE files
*.swp
*.swo
*~
dist/
downloads/
web/static/downloads/
